<e:bind my_planning>
  <e:if this.planning.nonempty>
    <ul class="planning">
      <e:try>
        <li class="scheduled">
          Scheduled: <e:this:planning:scheduled/>
        </li>
      </e:try>
      <e:try>
        <li class="deadline">
          Deadline: <e:this:planning:deadline/>
        </li>
      </e:try>
      <e:try>
        <li class="closed">
          Closed: <e:this:planning:closed/>
        </li>
      </e:try>
    </ul>
  </e:if>
</e:bind>

<e:with sections='this'>
  <e:bind my_hlevel>
    <e:match sections.level>
      <e:case 1><h2><e:caller.children/></h2></e:case>
      <e:case 2><h3><e:caller.children/></h3></e:case>
      <e:case 3><h4><e:caller.children/></h4></e:case>
      <e:case 4><h5><e:caller.children/></h5></e:case>
    </e:match>
  </e:bind>

  <e:match sections.type>
    <e:case normal>
      <e:sections:list>
        <section id="${this.id}">
          <e:my_hlevel><e:org.element.headline/></e:my_hlevel>
          <e:my_planning/>
          <e:this:children/>
          <e:this:subsections/>
        </section>
      </e:sections:list>
    </e:case>

    <e:case over-level>
      <ol>
        <e:sections:list>
          <li id="${this.id}">
            <p><b><e:org.element.headline/></b></p>
            <e:this:children/>
            <e:this:subsections/>
          </li>
        </e:sections:list>
      </ol>
    </e:case>
  </e:match>
</e:with>
