<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <e:try><title><e:doc.kw.title/></title></e:try>
    <e:extra.style/>
    <e:extra.mathjax/>
  </head>
  <body>
    <div id="content" class="content">
      <e:try><h1 class="title"><e:doc.kw.title/></h1></e:try>
      <e:extra.toc>
        <h2>Table of Contents</h2>
      </e:extra.toc>
      <e:doc.children/>
      <e:doc.sections/>
      <e:extra.footnotes/>
    </div>
    <div id="postamble" class="status">
      <e:try><p class="author">Author: <e:doc.kw.author/></p></e:try>
      <e:try><p class="email">Email: <a href="mailto:${doc.kw.email}">${doc.kw.email}</a></p></e:try>
    </div>
  </body>
</html>
