<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <e:try><title><e:doc.kw.title/></title></e:try>
    <e:extra.style/>
  </head>
  <body>
    <e:extra.toc>
      <h2>Table of Contents</h2>
    </e:extra.toc>

    <e:doc.children/>
    <e:doc.sections/>

    <e:if doc.footnotes.nonempty>
      <br/>
      <div id="footnotes">
        <e:doc.footnotes.list as=footnote>
          <div class="footdef">
            <a id="fn-${footnote.key}" href="#fnr-${footnote.key}">[<e:footnote.key />]</a>
            <e:footnote.value/>
          </div>
        </e:doc.footnotes.list>
      </div>
    </e:if>
  </body>
</html>
